@model LogsParser.Web.Models.SearchFormModel

@using (Html.BeginForm("StringMatches", "Search", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.TextBoxFor(m => m.SearchPattern, new { placeholder = "Search Pattern", @class = "form-control"})
    </div>
    <div class="form-group">
        @Html.DropDownList("FolderSelector",
                            new SelectList(Model.Directories),
                            "Select Folder",
                            new { @class = "form-control" })
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Submit" />
        </div>
    </div>
}